<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from courseware.courses import get_course_about_section
    from django.conf import settings
    from edxmako.shortcuts import marketing_link
    from openedx.core.djangolib.markup import HTML
    from openedx.core.lib.courses import course_image_url
%>

<h1>${course.display_name_with_default_escaped}</h1>
<p style="line-height:12pt;margin-right:30px;">
    <small>
        ${get_course_about_section(request,course,"short_description")}
    </small>

</p>

