<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx

# App that handles subdomain specific branding
from branding import api as branding_api
%>
<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">
            <img src="${branding_api.get_logo_url(is_secure)}" style="max-height:42px;" alt="${_("{platform_name} Home Page 1").format(platform_name=static.get_platform_name())}"/>
        </a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav" style="display:none">
			<li class="active"><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
        % if user.is_authenticated():
            <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
        % else:
            <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
        % endif


	</div><!-- /.navbar-collapse -->
</nav>