<div ui-grid="gridOptions" class="myGrid"></div>




<script>
    (function(scope){
        scope.gridOptions = {
            enableSorting: true,
            columnDefs: [
            { field: 'name' },
            { field: 'age' },
            { field: 'location', enableSorting: false }
            ]
        };
        scope.dialog_import_excel_url="${get_app_url('pages/dialogs/excel_import')}";
        scope.dialog_export_excel_url="${get_app_url('pages/dialogs/excel_export')}";
        scope.view_path="${get_view_path()}";
        services=ws(scope);
        scope.$root.onSearch(function(txt){
            scope.load_data(txt);
        })
        scope.load_data=function(txt){
            services.api("lv_admin.api.users/get_list")
                    .data({
                            search_text:txt,
                            page_size:50,
                            page_index:0,
                            sort:[]

                    }).done().then(function(res){
                        scope.data=res;
                        console.log(res);
                        scope.$applyAsync();
                    })

            /*ws_call("admin.api.users/get_list",{
                view:scope.view_path,
                data:{
                    search_text:txt
                }
            }).then(function(res){

            }).catch(function(ex){
                console.log(ex);
            })*/

        }
        scope.doDelete=function(item){
         console.log(item);
        }
        scope.load_data("");
        scope.get_url_export=function(subScope){
            subScope.getTitle=function(){
                return '${get_app_res("Xuất danh sách tài khoản ra Excel")}';
            };
            subScope.$applyAsync();
            subScope.url='${get_app_url("excel/download/users")}';
            console.log(subScope);
        };

    });
</script>
