body{
    font-family: Segoe UI !important;
}
label {
  display: block;
}
.home>header{
     background-image: url("http://jobs.surehcs.vn/photo/banner/5a0bac80d5b52917b8cc7a12.png") !important;
}
h1{
    font:normal 2em/1.4em "Open Sans",Verdana,Geneva,sans-serif,Segoe UI !important;
}
.flag-icon-vn{
    background-image:url(../images/flags/4x3/vn.svg) !important;
}
.flag-icon-vn.flag-icon-squared{
    background-image:url(../images/flags/1x1/vn.svg) !important;
}
.flag-icon-au{
    background-image:url(../images/flags/4x3/au.svg) !important;
}
.flag-icon-au.flag-icon-squared{
    background-image:url(../images/flags/1x1/au.svg) !important;
}