<!DOCTYPE>
<html ng-app="app">
    <head>
        <%- include("header")%>        
    </head>
    <body ng-controller="app">
        <%- include("navbar")%>   
        <div sub-page url="<%=rootUrl%>/pages/{{$root.navData.view}}" ng-if="$root.navData && $root.navData.view">
        </div>
        <script>
            var mdl=angular.module("app",["argo-ui"])
            var controller=mdl.controller("app",["$history","$scope",function($history,$scope){
                ws_set_url("http://0.0.0.0:8000/web_services/")
                ws_onBeforePost(function(){
                    var ret=$("<div class='mask'></div>").appendTo("body");
                    return ret;
                })
                ws_onAfterPost(function(sender){
                    sender.remove();
                })
                $history.apply($scope.$root)
                $scope.$root.$history.change(function(data){
                    $scope.$root.navData=data;
                    $scope.$root.$applyAsync();

                })
            }])
        </script>
    </body>
</html>