body{
    font-family: Segoe UI !important;
}

.home>header{
     background-image: url("http://jobs.surehcs.vn/photo/banner/5a0bac80d5b52917b8cc7a12.png") !important;
}

.flag-icon-vn{
    background-image:url(../images/flags/4x3/vn.svg) !important;
}
.flag-icon-vn.flag-icon-squared{
    background-image:url(../images/flags/1x1/vn.svg) !important;
}
.flag-icon-au{
    background-image:url(../images/flags/4x3/au.svg) !important;
}
.flag-icon-au.flag-icon-squared{
    background-image:url(../images/flags/1x1/au.svg) !important;
}
.header-global.slim .course-header {
    width: auto !important;
}
.btn.dropdown-toggle.selectpicker.btn-default{
    border: none !important;
    color:#0075b4 !important;
    font-weight: 100 !important;
}
.nav-colophon>ol{
    margin-left: 0px !important;
}
.header-global.slim .logo img {
    height: 60px !important;
    vertical-align: middle;
}
.header-global .wrapper-header {
    height: 73px !important;

}
.course-header>span{
    font-family: Segoe UI !important;
}
.wrapper-course-material .course-tabs {
    padding: 0px;
}
.header-global .user {
    float: right;
    padding-left: 0;
    margin: 0;
}
.enrollment-wrapper table tr td {
    text-align: center;
}
.lv-nav{
    width:auto !important;
    border:solid 4px red !important;
}
.lv-nav .wrapper-header{
        border:solid 4px red !important;
        max-width:none !important;
}
.v-scroll-body{
    overflow-x:hidden;
}
.navbar{
    border:none !important;
    padding-left:4px !important;
    padding-right:62px !important;

}
.navbar.navbar-default .user-image-frame{
    padding:0 !important;
    margin:2px !important;
}
.hd.logo-header {
    margin:0 !important;
    padding:0 !important;
}
.navbar-brand {
     margin:0 !important;
    padding:0 !important;
}
.navbar-brand .logo img {
    margin-left:20px !important;
    padding:0 !important;
    max-height:54px !important;
}
.clear-margin{
    margin:0 !important;
}
.clear-padding{
    margin:0 !important;
}
.full {
    width:100% !important;
    max-width:none !important;
    min-width:none !important;
}
.dashboard-search-bar.full {
    width:100% !important;
    max-width:none !important;
    min-width:none !important;
}
.debug {
   border:solid 4px red !important
}