<div>
    <fieldset>
        <legend>themes</legend>
            <table class="table">
                <thead>
                <tr>
                <th>Key</th><th>Value</th>
                
                </tr>
                
                </thead>
                <tbody>
                    <tr>

                    </tr>

                </tbody>
            </table>
        <fieldset>
         <legend>cms</legend>
        </fieldset>

    </fieldset>
    {{data}}
</div>
<script>
    (function(scope){
        scope.load=function(){
            ws_call("configs_info@get_info",function(ex,res){
                if(ex) console.log(ex);
                else {
                    scope.data=res;
                    scope.$applyAsync();
                }
            })
        }
        scope.isObject=function(item){
            return angular.isObject(item);
        }
        scope.getKeys=function(){
            if(scope.data){
                return Object.keys(scope.data)
            }
            else {
                return []
            }
        }
        scope.load();
    })
</script>
