<!DOCTYPE html>
<html lang="en" ng-app="admin">
  <head>

    <meta name="description">







    <title>Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="${get_static('css/main.css')}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${get_static('css/site.css')}">
    <link rel="stylesheet" type="text/css" href="${get_static('ui-grid.min.css')}">

      <style>
          *{
            <!--font-size:8pt;-->
            <!--font-weight:normal-->
          }
          .dialog-form .row {
            padding-bottom:4px
          }
          .dialog-form .btn-group{
            padding-left:4px
          }

      </style>
    <script src="${get_static('js/jquery-3.2.1.min.js')}"></script>
    <script src="${get_static('js/jquery-3.2.1.min.js')}"></script>
    <script src="${get_static('angular.min.js')}"></script>
    <script src="${get_static('ngDirectives.js')}"></script>
    <script src="${get_static('ui-grid.min.js')}"></script>

  </head>
  <body class="app sidebar-mini rtl" ng-controller="admin">

    ${self.body()}

    <!-- Essential javascripts for application to work-->
    <%include file="script.html"/>

    <!-- Page specific javascripts-->




  </body>
</html>